<p> Please select the vendor to experiment the APIs</p>
<ul>
  <li><a href="/REST/weatherforecast/cwb">中央氣象局 查詢系統</a></li>

</ul>


<h3>中央氣象局 </h3>

{{>CWBWeather}}


<h3>National Weather Service (NWS) weather forecast by gird</h3>
{{>NWSWeather}}