<body>
  <div class="container">
    <header>
      <div class="container">
        <h1>Jim's Meadowlark Travel</h1>
        <img src="../../public/img/logo.png" alt="Meadowlark Travel Logo" style="height: 150px; width:auto">
      </div>
    </header>
    <div class="container">
      {{{body}}}
    </div>
    <footer>&copy; 2022 Meadowlark Travel by Jim</footer>
  </div>
</body>