<form class="form" action="/cart/checkout" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <div class="form-group">
    <label>Name:
      <input name="name" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <label>Email:
      <input type="email" name="email" class="form-control" />
    </label>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Simulate Order</button></div>
  </div>
</form>