<h1>Welcome to 3rd party API platform</h1>

<p> Please select the vendor to experiment the APIs</p>
<ul>
  <li><a href="/REST/facebook">Go to Facebook</a></li>
  <li><a href="/REST/google">Go to Google</a></li>
  <li><a href="/REST/twitter">Go to Twitter</a></li>
  <li><a href="/REST/weatherforecast">Go to Weather Forecast</a></li>
  <li><a href="/REST/ecpay">Go to ECPay</a></li>
</ul>